@charset "UTF-8";
::-webkit-scrollbar {
  width: 10px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #d6f204; /* Couleur de la poignée de la scrollbar */
  border-radius: 5px; /* Rayon de bordure de la poignée */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f1fc9c; /* Couleur de la poignée de la scrollbar lors du survol */
}

::-webkit-scrollbar-track {
  background-color: #2b2e25; /* Couleur de fond de la scrollbar */
}

/* Pour les navigateurs non-WebKit (Firefox, Edge, etc.) */
/* Notez que Firefox a récemment ajouté la prise en charge de ::-webkit-scrollbar */
/* Cependant, pour une compatibilité maximale, vous pouvez toujours utiliser les pseudo-classes spécifiques */
/* comme indiqué ci-dessous */
.dash-dropdown {
  color: #d6f204;
}
.dash-dropdown .Select-control, .dash-dropdown .has-value.Select--single > .Select-control {
  background-color: #2b2e25;
  color: #d6f204;
  border: 1px solid #d6f204;
}
.dash-dropdown .Select-control .Select-value .Select-value-label, .dash-dropdown .has-value.Select--single > .Select-control .Select-value .Select-value-label {
  color: #d6f204;
}
.dash-dropdown .Select-control .Select-arrow, .dash-dropdown .has-value.Select--single > .Select-control .Select-arrow {
  border-color: #d6f204 transparent transparent;
}
.dash-dropdown .Select-control .Select-clear-zone, .dash-dropdown .has-value.Select--single > .Select-control .Select-clear-zone {
  color: #d6f204;
}
.dash-dropdown .Select-control .Select-placeholder, .dash-dropdown .has-value.Select--single > .Select-control .Select-placeholder {
  color: #d6f204;
}
.dash-dropdown .Select-menu-outer {
  background-color: #2b2e25;
  color: #d6f204;
  border: 1px solid #d6f204;
}

.title_choise {
  color: #d6f204;
}

body {
  background-color: #2b2e25;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.page-content {
  position: relative;
  width: 100vw; /* 100% de la largeur de la fenêtre */
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.Menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #d9d9d7;
}
.Menu .logo {
  position: relative;
  width: 35%;
  transition-duration: 0.3s;
}
.Menu .Titre_dashbord {
  width: 95%;
  font-size: 20px;
}
.Menu #Choise_your_categorie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.Menu #Choise_your_categorie #list_categ {
  width: 75%;
}

.content-stats {
  position: relative;
  height: 87%;
  width: 97%;
  display: grid;
  grid-template-columns: 100%; /* 3 colonnes */
  grid-template-rows: 1fr 1fr; /* 2 lignes */
  gap: 10px; /* Espacement entre les éléments */
  transform: translateX(-50%);
  left: 50%;
}
.content-stats .Elements_categorie_lvl {
  grid-column: 1/span 1; /* Première colonne */
  grid-row: 2/2;
  background-color: #22231d;
  grid-row: 1/span 2;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 700px;
}
.content-stats .Elements_categorie_lvl #titre-ele_Categ {
  text-align: center;
}
.content-stats .Elements_categorie_lvl #Choise_your_grp_lvl, .content-stats .Elements_categorie_lvl #Choise_your_categ_elem {
  width: 75%;
}
.content-stats .Elements_categorie_lvl #Choise_your_grp_lvl .title_choise, .content-stats .Elements_categorie_lvl #Choise_your_categ_elem .title_choise {
  text-align: center;
}
.content-stats .Elements_categorie_lvl .cont-graph-elem {
  width: 100%;
}
.content-stats .Repartition_niveau_item {
  background-color: #22231d;
}
.content-stats .Repartition_niveau_item #titre-rep-niv {
  color: #d6f204;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.content-stats .Repartition_poids_par_niveau {
  background-color: #22231d;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  min-height: 650px;
  justify-content: flex-end;
}
.content-stats .Repartition_poids_par_niveau #titre-rep-poids {
  color: #d6f204;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.content-stats .Repartition_poids_par_niveau #Choise_your_methode {
  width: 75%;
}
.content-stats .Repartition_poids_par_niveau #Choise_your_methode .title_choise {
  text-align: center;
}
.content-stats .Repartition_poids_par_niveau #Rep_By_poids {
  width: 100%;
}
.content-stats .Select_item {
  position: relative;
  background-color: #22231d;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  color: #d6f204;
}
.content-stats .Select_item #titre-ele_item {
  text-align: center;
}
.content-stats #Choise_your_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-stats #Choise_your_item #list_item {
  width: 75%;
}
.content-stats #cont_item_view {
  position: relative;
  align-content: center;
  width: 100%;
}
.content-stats .stats-item {
  position: relative;
  background-color: #22231d;
  width: 100%;
  bottom: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-stats .stats-item .part_graph_item {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.Card-item {
  position: relative;
  top: 50%;
  left: 50%;
  padding-top: 10px;
  width: 90%;
  max-width: 400px;
  background-color: black;
  transform: translateX(-50%) translateY(-50%);
  margin-top: 10px;
}
.Card-item .name_of_card {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: larger;
  left: 5%;
}
.Card-item .niveau_of_card {
  position: relative;
  color: rgb(238, 238, 238);
  font-weight: lighter;
  font-size: medium;
  margin-top: 0;
  left: 5%;
}
.Card-item .visuel {
  position: absolute;
  width: 100px; /* Largeur souhaitée */
  height: 100px; /* Hauteur souhaitée */
  right: 5%;
  top: 5%;
}
.Card-item .Effets-name {
  position: relative;
  color: rgb(238, 238, 238);
  font-weight: bold;
  font-size: larger;
  left: 7%;
}
.Card-item .Cont-Effets {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 9%;
}
.Card-item .Cont-Effets .Effet-text {
  margin: 0;
}
.Card-item .Cont-Effets .Effet-text.red {
  color: #bf635a;
}
.Card-item .Cont-Effets .Effet-text.green {
  color: #4ca53c;
}
.Card-item .cont_categ {
  position: relative;
  display: flex;
  left: 5%;
  vertical-align: middle;
}
.Card-item .cont_categ .title_categ_of_card {
  color: rgb(238, 238, 238);
  font-weight: lighter;
  font-size: medium;
  margin-right: 10px;
}
.Card-item .cont_categ .categ_of_card {
  color: rgb(238, 238, 238);
  font-weight: bold;
  font-size: medium;
}

@media (min-width: 425px) {
  .Menu .logo {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Menu .logo {
    width: 10%;
  }
  .Menu .Titre_dashbord {
    width: 95%;
    font-size: 20px;
  }
  .Menu #Choise_your_categorie {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 5%;
  }
  .Menu #Choise_your_categorie .title_choise {
    padding-right: 10px;
  }
  .Menu #Choise_your_categorie #list_categ {
    width: 150px;
  }
  .content-stats {
    position: relative;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr; /* 3 colonnes */
    grid-template-rows: 1fr 1fr; /* 2 lignes */
    gap: 10px; /* Espacement entre les éléments */
  }
  .content-stats .Elements_categorie_lvl {
    grid-column: 1/span 1; /* Première colonne */
    grid-row: 1/span 1;
  }
  .content-stats .Repartition_niveau_item {
    grid-column: 1/span 1; /* Première colonne */
    grid-row: 2/span 1;
  }
  .content-stats .Repartition_poids_par_niveau {
    grid-column: 2/span 1; /* Deuxième colonne, deuxième ligne */
    grid-row: 2/span 1;
  }
  .content-stats .Select_item {
    grid-column: 2/span 1; /* Troisième colonne */
    grid-row: 1/span 1;
  }
}
@media (min-width: 1440px) {
  .content-stats .Select_item .stats-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
